@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

*{
  font-family: 'Piazzolla', serif;
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #f0e9a9;
  color: black;
}

.bg-image {
  background-image: url("../Portfolio/Pictures/iceberg.jpg");
  filter: blur(3px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 60%;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}

.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  height: 15px;
  width: 15px;
}

.down {
  transform: rotate(45deg);
}

h1{
  margin: 60px 20px 10px 30px;
  font-size: 18px;
}

span{
  
  text-align: center;
}

hr{
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
  width: 95%;
}

p{
  margin: 20px 20px 10px 30px; 
}

#allcourses{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.coursetaken{
  display: flex;
  justify-content: center;
  width: 50%;
}

.classes{
  display: flex;
  justify-content: center; 
  width: 30%;
}

.works{
  display: flex;
  justify-content: center;
  width: 70%;
}

video{
  margin-right: 30px;
  border-radius: 8px;
}

.differentwidth{
  width: 15% !important;
}

figcaption {
  color: black;
  text-align: center;
}

.img1{
  margin: 0px 30px 0px 0px;
  width: 30%;
  border-radius: 8px;
}

.img2{
  width: 350px;
  border-radius: 8px;
}

.img3{
  width: 300px;
  border-radius: 8px;
  margin: 0px 30px 0px 0px;
}

hr {
  display: none;
}

@media only screen and (max-width: 1000px) {
  *{font-size: 1.3rem}
  h1{font-size: 1.3rem}

  #allcourses, .coursetaken, .classes, .work{
    display: inline;
    width: 100%;
  }

  .allcourses{
    
  }

  hr{
    display: initial;
  }
}