*{
    margin: 0;
    padding: 0;
}

#rectangle {
    width: 400px;
    height: 100vh;
    background-color: black;
    margin-top: 25px;
    position: relative;
}

#triangle-down {
    border-left: 50px solid black;
    border-right: 0;
    border-top: 100vh solid transparent;
    position: absolute;
    right: -50px;
    top: 0;
}